/* styles.css */
body{
    font-family: "Comfortaa", sans-serif;
}

/* S.I. E.D. y E.R. */

input[type="checkbox"] + span {
    font-weight: 900; 
}


#gradoEscolarTexto, #edad {
width: 40px;
}

/* Estilos básicos para pestañas */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


button{
    font-family: "Comfortaa", sans-serif;
    font-weight: 900; 

}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Estilos específicos para los resultados y botones de copiar */
#resultadoGenerador, #resultadoReuniones {
    margin-top: 20px;
}

button#btnCopiarGenerador, button#btnCopiarReuniones {
    margin-top: 10px;
}
.interruptor {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
  }
  
  .interruptor-input {
    display: none;
  }
  
      /* Estilo para los checkboxes de modalidad */
label {
    display: inline-block;
    margin-right: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;

}

